<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319788310801-auiasb30rlkaetmoislaoqubv7caengi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319788310801-auiasb30rlkaetmoislaoqubv7caengi</string>
	<key>API_KEY</key>
	<string>AIzaSyCAHZ3BYMU7EPq7NusYI4UpzW57mxYFsto</string>
	<key>GCM_SENDER_ID</key>
	<string>319788310801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financyApp</string>
	<key>PROJECT_ID</key>
	<string>financy-app-6554f</string>
	<key>STORAGE_BUCKET</key>
	<string>financy-app-6554f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319788310801:ios:19c560a8531ddad705acb0</string>
</dict>
</plist>